<div class="" style="background:#f3f3f3">
    <%if(results == 0){%>
    <div class="container-91 bg-white mb-3" style="background: #fff;min-height:300px">
        <div class="py-3" style="background:#eaeaea">
            <small class="font-weight-bold ml-3">
                Không tìm thấy kết quả phù hợp
            </small>
        </div>
        <div class="my-3">
            <small class="font-weight-bold ml-3"> Để tìm thấy kết quả chính xác hơn bạn vui lòng:</small>
            <ul class="list-unstyled">
                <li class="ml-4"><small class="font-weight-bold ml-3">- Kiểm tra lại lỗi chính tả.</small></li>
                <li class="ml-4"><small class="font-weight-bold ml-3">- Thử lại với từ khóa khác.</small></li>
            </ul>
        </div>
    </div>
    <%- include('../Partials/Popu.ejs') %>
    <%}else{%>

    <div class="container-91 bg-white mb-4" style="background: #fff;">
        <div class="py-3" style="background:#eaeaea">
            <small class="ml-3">
                Tìm thấy <b class="d-inline">
                    <%let i=0;results.forEach(function(){i++})%><%=i%>
                </b> kết quả phù hợp
            </small>
        </div>
        <div class="py-2 border-bottom px-3">
            <div class="btn btn-primary px-3 py-1 my-2 mt-3"> <small> test(1)</small></div>
            <div class="btn btn-outline-primary px-3 py-1 my-2 mt-3"> <small>test(1)</small></div>
            <div class="btn btn-outline-primary px-3 py-1 my-2 mt-3"> <small> test(1)</small></div>
        </div>

        <div class="" style="position: relative;min-height:500px">
            <% results.forEach(function(p){%>
            <div class="t-item" style="">
                <a href="<%=p.Slug%>">
                    <div class="t-img">
                        <img src="images/Uploads/<%= p.Image%>" alt="" class="beau">
                        <%if(p.Gop0 == 1){%>
                        <div class="anw mr-1">Trả góp <span class="font-weight-bold">0%</span></div>
                        <%}%>
                                    </div>
                                    <div class="couple">
                                        <%if(p.BuyOS == 1){%>
                        <img src="images/online-giảm-sốc-1x.png" alt="" class="h-100">
                        <%}%>
                                    </div>
                                    <div class="t-np">
                                        <%= p.Name%>
                    </div>
                    <div class="t-price clearfix">
                        <div class="price">
                            <%= p.PromotionPrice.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>
                        </div>
                        <div class="old-price float-left">
                            <%= p.Price.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>
                        </div>
                        <div class="khongbietdattenlagi float-left">(-
                            <%= ((parseInt(p.Price)-parseInt(p.PromotionPrice))/parseInt(p.Price) * 100).toFixed(0) %>
                            %)
                        </div>
                    </div>
                    <div class="container ml-1">
                        <small class="text-warning d-inline">4.9/5</small> <small
                            class="fas fa-star text-warning"></small>
                        <small class="text-secondary"> Đánh
                            giá</small>
                    </div>
                </a>
            </div>
            <%})%>

        </div>
    </div>
    <%}%>
</div>
</div>