<div style="margin:0px;padding:0px;color:rgb(32,32,32);font-size:16px;font-weight:normal;font-family:Helvetica,Arial,sans-serif!important">
    <table align="center" border="0" cellpadding="0" cellspacing="0" lang="wrapper" style="display:block;overflow:hidden;background:#fff;width:100%;max-width:700px;margin:auto">
        <tr>
            <td bgcolor="#f0f0f0" style="background:#f0f0f0" valign="top" width="100%">
            <table border="0" cellpadding="0" cellspacing="0" lang="main_content" style="width:100%" width="100%">
                <tbody>
                <tr>
                    <td valign="top" width="100%">
                    <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="100%">
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                        <tbody>
                            <tr>
                            <td class="m_4311208166456081301space40" style="width:20px" width="20">
                            <div lang="space40">
                            </div>
                            </td>
                            <td valign="top">
                            <p style="margin:0;padding:0;font-size:18px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal"><b><%= lcAuthUser.Name%></b> thân mến,
                            </p>

                            <div class="m_4311208166456081301spacer" style="font-size:10px;line-height:10px;height:10px">
                            </div>

                            <p style="margin:0;padding:0;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:24px">Đơn hàng<span class="m_4311208166456081301normal"><b> #<%=ido%></b></span> của bạn đã được tiếp nhận và đang được xử lý.
                            </p>

                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="100%">
                    <div class="m_4311208166456081301spacer" style="font-size:40px;line-height:40px;height:40px">
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </td>
        </tr>

        <tr>
            <td bgcolor="#f0f0f0" style="background:#f0f0f0" valign="top" width="100%">
            <div class="m_4311208166456081301spacer" style="font-size:10px;line-height:10px;height:10px">
            </div>
            </td>
        </tr>
        <tr>
            <td valign="top" width="100%">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                <tbody>
                <tr>
                    <td valign="top" width="100%">
                    <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="100%">
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                        <tbody>
                            <tr>
                            <td class="m_4311208166456081301space40" style="width:20px" width="20">
                            <div lang="space40">
                            </div>
                            </td>
                            <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                <tbody>
                                    <tr>
                                        <td valign="middle" width="30"><img alt="" src="https://ci4.googleusercontent.com/proxy/rigDJLJmhvwH-KGJbCAzLtct9a9LIYZtXNRxWs7TqKte3s39nb6UcgnMpvzBeUMqtS1NqD5Qqd5Py2CZgDd3tj1Vi83_detsHj0wFYg6m0JzfIiOC8y9qM6baUphDHdx5UkO1bqych9Ut2-xkQ1qCA=s0-d-e1-ft#http://static.cdn.responsys.net/i5/responsysimages/lazada/contentlibrary/!images/ic-order.png" style="display:block;border:none" width="30" class="CToWUd"></td>
                                        <td style="width:15px" width="15"></td>
                                        <td style="font-size:18px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal" valign="middle">Chi tiết đơn hàng</td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                            <td class="m_4311208166456081301space40" style="width:20px" width="40">
                            <div lang="space40">
                            </div>
                            </td>
                            </tr>
                            <tr>
                            <td class="m_4311208166456081301space40" style="width:20px" width="20">
                            <div lang="space40">
                            </div>
                            </td>
                            <td valign="top">

                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom:1px solid #efefef" valign="top" width="100%">
                                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                        <tbody>

                                        <% let Tong = 0; lcCart.forEach(function(c){ data.forEach(function(p){ if(p.ID == c.id){ Tong += (c.price * c.quantity)%>
                                            <tr>
                                                <td align="center" valign="top" width="35%">
                                                <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                </div>
                                                </td>
                                                <td style="width:20px" valign="top" width="20">
                                                <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                </div>
                                                </td>
                                                <td valign="top">
                                                <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" width="35%"><a href="#" target="_blank">
                                                    <img alt="" src="https://phuongnghiep.com/Uploads/<%= p.Image%>" style="max-width:100%;border:none" width="100%" ></a></td>
                                                <td style="width:20px" valign="top" width="20"></td>
                                                <td valign="top">
                                                <p style="margin:0;overflow:hidden;padding:0;font-size:14px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal"><a href="<%= p.Slug%>" style="text-decoration:none;color:#202020" target="_blank"><%=p.Name%></a>
                                                </p>

                                                <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                </div>

                                                <p style="margin:0;overflow:hidden;padding:0;font-size:14px;color:#dd3937;white-space:nowrap;font-family:Helvetica,Arial,sans-serif;font-weight:normal"><%= (''+c.price).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>₫%>
                                                </p>

                                                <div class="m_4311208166456081301spacer" style="font-size:10px;line-height:10px;height:10px">
                                                </div>

                                                <p style="margin:0;padding:0;font-size:14px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal">Số lượng: <%= c.quantity %>
                                                </p>

                                                <div class="m_4311208166456081301spacer" style="font-size:10px;line-height:10px;height:10px">
                                                </div>
                                                </td>
                                            </tr>
                                            <%}})})%>
                                            <tr>
                                                <td align="center" valign="top" width="35%">
                                                <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                </div>
                                                </td>
                                                <td style="width:20px" valign="top" width="20">
                                                <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                </div>
                                                </td>
                                                <td valign="top">
                                                <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        </table>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td valign="top" width="100%">
                                        <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="100%">
                                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="font-size:0" valign="top" width="100%">
                                                <div class="m_4311208166456081301two_col_left" lang="two_col_left" style="display:inline-block;max-width:330px;vertical-align:top;width:100%">
                                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                                    <tbody>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="margin:0;padding:0;font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif">
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:10px;line-height:10px;height:10px">
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="margin:0;padding:0;font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif">
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                <td style="width:30px" valign="top" width="30"><img alt="" src="https://ci6.googleusercontent.com/proxy/8rXViMuchVxCTLNkhHkXM1PJSpI13Z1Aa-xFdTWjyFs6WgRzcHhUcsH8w5W1QvGLRZr06mxMX2XJUe8IbZ6LI6utjPhfkUkM4BNv91GycSPK66XO41r77RJHnzuLtcuRw6v8B7CXsocrzrQh8Xo=s0-d-e1-ft#http://static.cdn.responsys.net/i5/responsysimages/lazada/contentlibrary/!images/ic-cod.png" style="display:block;border:none;max-width:100%" class="CToWUd"></td>
                                                                <td style="width:10px" width="10"></td>
                                                                <td style="font-weight:normal;font-size:14px;color:#9aa439;font-family:Helvetica,Arial,sans-serif" valign="middle">Hình thức thanh toán: Tiền mặt</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                                

                                                <div class="m_4311208166456081301two_col_right" lang="two_col_right" style="display:inline-block;max-width:330px;vertical-align:top;width:100%">
                                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif" valign="top" width="60%">Thành tiền:</td>
                                                        <td style="width:10px" valign="top" width="10"></td>
                                                        <td align="right" style="text-align:right;font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;white-space:nowrap" valign="top"></td>
                                                        <td style="width:10px" valign="top" width="20"></td>
                                                        <td align="right" style="text-align:right;font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;white-space:nowrap" valign="top"><%=(''+Tong).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>₫</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif" valign="top">Giảm giá:</td>
                                                        <td style="width:10px" valign="top" width="10"></td>
                                                        <td align="right" style="text-align:right;font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;white-space:nowrap" valign="top"></td>
                                                        <td style="width:10px" valign="top" width="20"></td>
                                                        <td align="right" style="font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;text-align:right;white-space:nowrap" valign="top">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif" valign="top">Phí vận chuyển:</td>
                                                        <td style="width:10px" valign="top" width="10"></td>
                                                        <td align="right" style="text-align:right;font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;white-space:nowrap" valign="top"></td>
                                                        <td style="width:10px" valign="top" width="20"></td>
                                                        <td align="right" style="font-weight:normal;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;text-align:right;white-space:nowrap" valign="top">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight:normal;font-size:16px;color:#dd3937;font-family:Helvetica,Arial,sans-serif" valign="top">Tổng cộng:</td>
                                                        <td style="width:10px" valign="top" width="10"></td>
                                                        <td align="right" style="text-align:right;font-weight:normal;font-size:16px;color:#dd3937;font-family:Helvetica,Arial,sans-serif;white-space:nowrap" valign="top"></td>
                                                        <td style="width:10px" valign="top" width="20"></td>
                                                        <td style="font-weight:normal;font-size:16px;color:#dd3937;font-family:Helvetica,Arial,sans-serif;text-align:right;white-space:nowrap" valign="top"><%=(''+Tong).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>₫</td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                                                </div>
                                                </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                            <td class="m_4311208166456081301space40" style="width:20px" width="20">
                            <div lang="space40">
                            </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                </tbody>
            </table>
            </td>
        </tr>
                   
                   <tr>
                      <td align="center">
                      <div class="m_4311208166456081301spacer" style="font-size:15px;line-height:15px;height:15px">
                      </div>
    
                      <p style="margin:0;padding:0;font-size:14px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal"><i>(Đây là email tự động, bạn vui lòng không trả lời email này)</i>
                      </p>
    
                      <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                      </div>
                      </td>
                   </tr>
                   <tr>
                      <td bgcolor="#f0f0f0" style="background:#f0f0f0" valign="top" width="100%">
                      <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                         <tbody>
                            <tr>
                               <td valign="top" width="100%">
                               <div class="m_4311208166456081301spacer" style="font-size:30px;line-height:30px;height:30px">
                               </div>
                               </td>
                            </tr>
                            <tr>
                               <td valign="top" width="100%">
                               <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                  <tbody>
                                     <tr>
                                        <td class="m_4311208166456081301space40" style="width:20px" width="20">
                                        <div lang="space40">
                                        </div>
                                        </td>
                                        <td valign="top">
                                        
                                        </td>
                                        <td class="m_4311208166456081301space40" style="width:20px" width="20">
                                        <div lang="space40">
                                        </div>
                                        </td>
                                     </tr>
                                     
                                  </tbody>
                               </table>
                               </td>
                            </tr>
                            
                         </tbody>
                      </table>
                      </td>
                   </tr>
                   
                  