<div style="display:block;overflow:hidden;background:#f1f1f1;width:100%;max-width:640px;margin:auto">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:6px solid #fdd504" bgcolor="#ffffff">
       
    </table>
    <table width="100%" border="0" cellpadding="10" bgcolor="#ffffff" style="padding-bottom:10px">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:10px 10px 0 10px">Chào anh/chị <b><%-D.FullName%></b>,</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="10px" bgcolor="#ffffff" style="padding-bottom:10px;background-color:#fff">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:5px 10px 10px 10px">Quản trị viên <b><%-D.AdminName%></b> xin được phản hồi câu hỏi của anh/chị như sau :</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:10px">Chào anh/chị,<br><%-D.Reply%></td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="10" bgcolor="#ffffff" style="padding-bottom:10px">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:20px 10px 10px 10px">
                    Câu hỏi trước của anh: <span style="font-style:italic">'<%-D.RQ%>'</span>
                </td>
            </tr>
        </tbody>
    </table>
    <table bgcolor="#ffffff" width="100%" border="0">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:15px 10px 0 10px">Cảm ơn anh/chị <%-D.FullName%> đã phản hồi về <a href="javascript::void(0)" style="color:#fdd504!important;text-decoration:none!important" target="_blank">pn</a>, cần thêm thông tin anh vui lòng liên hệ 0948.135.903 hoặc xem thêm các phản hồi khác tại <a href="javascript::void(0)" target="_blank">đây</a></td>
            </tr>
        </tbody>
    </table>

    <table bgcolor="#ffffff" width="100%" border="0">
        <tbody>
            <tr>
                <td style="font-size:13px;float:right;text-align:center;color:#fdd504;padding:15px 10px 15px 0px">
                    <%-D.AdminName%><br>
                    Quản trị viên phuongnghiep.com
                </td>
            </tr>
        </tbody>
    </table>
    <table max-width="700px" border="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="display:block;overflow:hidden;background:#333;color:#fff;font-size:13px;padding:10px 10px 10px 20px">
                    <b style="display:block">Kinh doanh neo nái tầm cỡ vũ trụ <a href="javascript::void(0)" style="color:#ffffff!important;text-decoration:none" target="_blank">phuongnghiep.com</a>- thuộc Công ty TNHH BanHeo</b>
                    <p>Địa chỉ: Việt Nam</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>