<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">
                    <%= title%>
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">product</a></li>
                    <li class="breadcrumb-item active">Danh sách</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <%- include("../../Partials/Flash") %>
                    </div>
                    <div class="col-6">
                        <div class="float-right">
                            <button type="button" class="btn btn-primary btn-sm">
                                <a href="admin/product/add" class="text-white"><i class="fas fa-plus fa-xs"></i>&nbsp;
                                    Thêm mới</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="admin/product/trash" class="text-white"><i
                                        class="far fa-trash-alt fa-xs"></i>&nbsp; Thùng rác</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <script href="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

                <table id="cate1" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center no-sort" style="width:3rem;">ID</th>
                            <th class="text-center"> Hình ảnh </th>
                            <th class="no-sort text-center">Tên sản phẩm</th>
                            <th class="no-sort text-center">Loại</th>
                            <th class="text-center">Giá</th>
                            <th class="no-sort text-center" style="width:10rem">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% results.forEach(function(p){%>
                        <tr>
                            <td class="text-center">
                                <%= p.ID%>
                            </td>
                            <td class="text-center">
                                <a href="">
                                    <img src="images/products/<%= p.Image%>" alt="<%= p.Image%>" width="70">
                                </a>
                            </td>
                            <td class="overflow-hidden" style="max-width: 200px;height:80px">
                                <a href="admin/product/detail?id=<%= p.ID%>">
                                    <%= p.Name%>
                                </a>
                            </td>

                            <td class="text-center">
                                <% parentID.forEach(function(c){
                                if(p.Cate_ID == c.ID){%>
                                <%= c.Name %>
                                <%}
                            })%>
                            </td>
                            <td class="text-center text-danger">
                                <%= p.PromotionPrice.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>
                            </td>
                            <td class="text-center">

                                <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip"
                                    data-placement="top" title="Khôi phục">
                                    <a href="admin/product/undo?id=<%= p.ID%>" class="text-white"><i
                                            class="fas fa-undo-alt"></i></a>
                                </button>

                                <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                    data-placement="top" title="Xóa vĩnh viễn">
                                    <a href="admin/product/deleterd?id=<%= p.ID%>" class="text-white"><i
                                            class="far fa-trash-alt"></i></a>
                                </button>
                            </td>
                        </tr>
                        <%})%>
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</section>